<!DOCTYPE html>
<html>
<head>
    <title>Textql</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>TEXTQL</h1>

    <div id="notification-board" class="notification">
    </div>

    <form hx-post="/generate" hx-target="#output" hx-swap="innerHTML">
        <input type="text" id="user_input" name="user_input">
        <button type="submit">Generate</button>
    </form>

    <div id="prompt-outbox">
        <strong>Prompt:</strong>
        <pre id="prompt-text"></pre>
    </div>

    <div id="output">
</body>
</html>