{% if sql_query %}
  <div id="generated-sql">
    <h4>Query Results</h4>
    <div id="prompt-outbox" aria-live="polite">
        <pre id="prompt-text">{{ sql_query | escape }}</pre>
    </div>

    {% if query_token %}
      <form method="post"
            hx-post="/execute-sql"
            hx-target="#output"
            hx-swap="innerHTML"
        >
        <input type="hidden" name="query_token" value="{{ query_token }}" />
        <button type="submit" class="btn">Execute SQL</button>
      </form>
      {% endif %}
  </div>
{% endif %}

{% if column_names %}
    <div class="table-container">
        <div class="table-scroll-wrapper">
            <table class="data-table">
                <thead>
                    <tr>
                        {% for column in column_names %}
                            <th>{{ column | escape }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                        <tr>
                            {% for item in row %}
                                <td>{{ item | escape }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <p>No results found.</p>
{% endif %}